@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Dela+Gothic+One&family=Koulen&family=Lato:ital@1&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@700&family=Permanent+Marker&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:wght@600&family=Red+Hat+Mono:wght@500&family=Roboto+Condensed:wght@300;700&family=Rubik:wght@400;500;600&family=Smooch+Sans&family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;

}


.ilustration-logo > img {
    filter: brightness(0) invert(1);
}


.hamburger > div {
    background-color: black;
    height: 2px;
    width: 25px;
    margin-bottom: 8px;
    transition: all 2s;
}

.hamburger input:checked ~div:nth-child(4) {
    transform : rotate(-55deg);
}


.hamburger input:checked ~div:nth-child(3) {
    transform : scale(0);
}

.hamburger div:nth-child(2){
    transform-origin: 0 0;
}

.hamburger div:nth-child(4){
    transform-origin : 0 100%;
}

.hamburger input:checked ~div:nth-child(2) {
    transform : rotate(55deg) translate(-1px,0px);
}

.categories-card > ul > li {
 margin-bottom: 2px;
 cursor: pointer;

}


.ranklist > ul > li {
    display : flex;
    align-items: center;
    gap:4px;
    margin-bottom: 5px;
}



.active {
    display : block;
}

.nonactive {
    display: none;
}



